body {
  font-family: sans-serif;
  width: 640px;
  margin: 0 auto;
  background-color: lightgray;
}

.all-pngs {
  display: flex;
  flex-wrap: wrap;
  justify-content; center;

}

.all-pngs img {
  padding: 10px 10px 10px 10px;
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.gallery .gallery-filter {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.gallery .gallery-filter .btn.filter-item {
  color: #ffffff; 
  background: #16b5ef;
  font-size: 17px;
  border: 2px solid white;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 20px;
  margin-right: 8px;
  cursor: pointer;
  padding: 8px 20px 8px 20px;
  line-height: 1.2;
  transition: all 0.3s ease;
}

.gallery .gallery-filter .btn.filter-item.active{
  color: gray;
  border-color : #16b5ef;
  background: #16b5ef;
}

/*Table Styling*/

.table-container {
  max-height: 300px;
  border: 1px solid black;
  overflow-y: auto;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

th[scope="col"] {
  background-color: #505050;
  color: white;
}

th[scope="row"] {
  background-color: #d6ecd4;
}

td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #eeeeee;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  width: 100%;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
}
