body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*---------------------------------Layout Wrapper Div---------------------------------*/
/*  content.innerHTML = `*/
/*    <div class="mech-title">*/
/*      <h3 id="mech-header" class="subclass-header"></h3> */
/*      <hr class="subclass-line"> */
/*    </div>*/
/**/
/*    <div class="gui-display">*/
/*      <h5 id="gui-header" class="subclass-header"></h5> */
/*      <hr class="subclass-line"> */
/*      <div id="model3d_container" class="viewer-hidden">*/
/*        <div id="model3d"></div>*/
/*      </div>*/
/*    </div>*/
/**/
/*    <div class="about">*/
/*      <h5 id="about-header" class="subclass-header"></h5> */
/*      <hr class="subclass-line"> */
/*      <div id="chem-draw"></div>*/
/*    </div> */
/**/
/*  `;*/

.mech-title hr {
  margin-top: 10px;
  margin-bottom; 3px;
}

#mech-header {
  font-style: italic;
  font-size: 25px;
  margin: 0px; 
}

#model3d_container {
  height: 50%;
  width: 50%;
}

#chem-draw img {
  height: 50%;
  width: 50%;
}

/*---------------------------------Layout Wrapper Div---------------------------------*/
.layout-wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "sidenav content" 
    "footer footer";
  grid-template-columns: 200px 1fr; 
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  margin: auto;
  min-height: 100vh;
  max-width: 1750px;
}

.layout-wrapper div.header {
  grid-area: header;
}

.layout-wrapper div.sidenav {
  grid-area: sidenav;
}

.layout-wrapper div.content {
  grid-area: content;
}

.layout-wrapper div.footer {
  grid-area: footer; 
}

/*---------------------------------Side Navigation Div---------------------------------*/
.sidenav {
  height: 100%;
  width: 200px;
  position: relative; /*Stays in place when scrolling*/
  z-index: 1; /*Stay on top*/
  left: 0;
  background-color: #111;
  overflow-x: hidden; /*Disable horizontal scroll*/ 
  padding-top: 0px;
}

/*---------------------------------Side Navigation Header---------------------------------*/
.sidenav-header {
  display: block;
  width: 100%;
}

form {
  padding-top: 20px;
  padding-bottom: 60px;
}

#nav-hr {
  border: 1px solid #ed7e32 !important;
  width: 140px;
  background-color: transparent;
  opacity: 1;
}

#nav-title {
  font-family: 'Rajdhani';
  font-weight: 200px;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 10px;
}

/*---------------------------------Side Navigation Classes---------------------------------*/
.sidenav .btn.filter-item {
  font-family: 'Rajdhani';
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  width: 100%;
  color: white;
  display: block;
}

.sidenav .btn.filter-item:hover {
  font-family: 'Rajdhani';
  color: #708CBD;  
  font-weight: bold;
}

.sidenav .btn.filter-item.active {
  font-family: 'Rajdhani';
  color: blue;
  background-color: white;
}

.sidenav .btn.filter-item.active:hover {
  font-family: 'Rajdhani';
  color: blue;
  background-color: white;
}

/*---------------------------------Side Navigation Footer---------------------------------*/
/* Positioning footer at bottom of div */
.nav-footer {
  padding: 0px 10px 10px;
  text-align: center;
} 

/*The box around the slider -- the switch */
label.switch {
  position: relative;
  display: block;
  width: 100%;
  height: 34px;
}

/*Hides default HTML checkbox*/
#toggleSwitch {
  opacity: 0; 
  width: 0;
  height: 0;
} /*<input type="checkbox" id="viewToggle">*/

/*The Box*/
.slider {
  position: absolute;
  top: 0; left: 0; /* Stretches to all 4 corners of the parent */
  padding: 2px;
  display: flex;
  left: 22px;
  width: 75%;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #F0DDDD;
  cursor: pointer;
  transition: background-color .4s;
} 

/*The Pill (before element is the child*/
.knob {
  height: 90%;
  width: 100%;
  background: linear-gradient(
  70deg,
  #999 5%,
  #fff 10%,
  #ccc 30%,
  #ddd 50%,
  #ccc 70%,
  #fff 80%,
  #999 95%);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  background-color: gray;
  border-style: ridge;
  border-radius: 30px;
  will-change: transform;
  transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  z-index: 2;
}

/*Text Inside the Slider */
.slider-text {
  position: relative;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  transition: .4s;
  z-index: 1;
  top: 25%;
}

.off-text {
  align-items: center;
  color: black;
  left: -50px;
}

.on-text {
  left: -17px;
}

input:checked + .slider {
  background-color: #6BF5FF;
}

input:checked + .slider .knob{
  transform: translateX(90%);

}

/*---------------------------------Page Content---------------------------------*/
main {
  height: 100%;
  margin: 0px 0px 0px 0px;
  width: 1300px;
}

h1 {
  font-family: 'Rajdhani';
  font-size: 50px;
  font-weight: 600;
}

#title-hr {
  border: 5px solid #ed7e32 !important;
  margin: 10px 0;
  background-color: transparent;
  opacity: 1;
}

/*---------------------------------Image Gallery---------------------------------*/
.img-gallery {
  display: flex;
}

.all-pngs {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: left;
}

.all-pngs img {
/*  padding: 3px 3px 3px 3px;*/
  width: 106.5px;
  height: 106.5px;
  object-fit: cover;
  transform: translateZ(0);
}

.all-pngs img:hover {
  z-index: 10;
  border: 2px ;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
