body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*---------------------------------Layout Wrapper Div---------------------------------*/
.layout-wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "sidenav content" 
    "footer footer";
  grid-template-columns: 200px 1fr; 
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  flex-grow: 1;
  margin: auto;
  min-height: 100vh;
  max-width: 1750px;
}

.layout-wrapper div.header {
  grid-area: header;
}

.layout-wrapper div.sidenav {
  grid-area: sidenav;
}

.layout-wrapper div.content {
  grid-area: content;
}

.layout-wrapper div.footer {
  grid-area: footer; 
}

/*---------------------------------Side Navigation Div---------------------------------*/
.sidenav {
  height: 100%;
  width: 200px;
  position: sticky; /*Stays in place when scrolling*/
  z-index: 1; /*Stay on top*/
  top: 16px; /*Stay at the top*/
  left: 0;
  background-color: #111;
  overflow-x: hidden; /*Disable horizontal scroll*/ 
  padding-top: 0px;
}

/*---------------------------------Side Navigation Header---------------------------------*/
.sidenav-header {
  display: block;
  width: 100%;
}

form {
  padding-top: 20px;
  padding-bottom: 60px;
}

#nav-hr {
  border: 1px solid #ed7e32 !important;
  width: 140px;
  background-color: transparent;
  opacity: 1;
}

#nav-title {
  font-family: 'Rajdhani';
  font-weight: 200px;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 10px;
}

/*---------------------------------Side Navigation Classes---------------------------------*/
.sidenav .btn.filter-item {
  font-family: 'Rajdhani';
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  width: 100%;
  color: white;
  display: block;
}

.sidenav .btn.filter-item:hover {
  font-family: 'Rajdhani';
  color: #708CBD;  
  font-weight: bold;
}

.sidenav .btn.filter-item.active {
  font-family: 'Rajdhani';
  color: blue;
  background-color: white;
}

.sidenav .btn.filter-item.active:hover {
  font-family: 'Rajdhani';
  color: blue;
  background-color: white;
}

/*---------------------------------Side Navigation Footer---------------------------------*/
/* Positioning footer at bottom of div */
.nav-footer {
  position: relative;
  padding: 10px;
  text-align: center;
}

/*The box around the slider -- the switch */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

/*Hides default HTML checkbox*/
#viewToggle {
  opacity: 0; 
  width: 0;
  height: 0;
} /*<input type="checkbox" id="viewToggle">*/

/*The Box*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 28px;
  background-color: #ccc;
  transition: .4s;
} 

/*The Pill (before element is the child*/
.slider:before {
  position: absolute;
  content: ""; /*Must have this to insert the pill*/
  width: 50px;
  height: 29px;
  left: 3px;
  top: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 28px;
  z-index: 2; /* Keeps circle above text */
} 

/*Text Inside the Slider */
.slider-text {
  position: absolute;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  transition: .4s;
  z-index: 1;
  top: 50%;
}

.off-text {
  right: 8px;
  color: #2196F3;
}

.on-text {
  left: 8px;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  overflow: hidden;
}

input:checked + .slider:before {
  transform: translateX(62px);
}

/*---------------------------------Page Content---------------------------------*/
main {
  height: 100%;
  margin: 0px 0px 0px 0px;
  width: 1300px;
}

h1 {
  font-family: 'Rajdhani';
  font-size: 50px;
  font-weight: 600;
}

#title-hr {
  border: 5px solid #ed7e32 !important;
  margin: 10px 0;
  background-color: transparent;
  opacity: 1;
}

/*---------------------------------Image Gallery---------------------------------*/
.img-gallery {
  display: flex;
}

.all-pngs {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: left;
}

.all-pngs img {
/*  padding: 3px 3px 3px 3px;*/
  width: 106.5px;
  height: 106.5px;
  object-fit: cover;
  transform: translateZ(0);
}

.all-pngs img:hover {
  z-index: 10;
  border: 2px ;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
