body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



/*---------------------------------Layout Wrapper Div---------------------------------*/
.layout-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr; 
  gap: 10px;
  align-items: stretch;
  flex-grow: 1;
  margin: auto;
  max-width: 1750px;
}

/*---------------------------------Side Navigation Div---------------------------------*/
.sidenav {
  height: 100%;
  width: 200px;
  position: sticky; /*Stays in place when scrolling*/
  z-index: 1; /*Stay on top*/
  top: 16px; /*Stay at the top*/
  left: 0;
  background-color: #111;
  overflow-x: hidden; /*Disable horizontal scroll*/ 
  padding-top: 0px;
  position: sticky;
}

/*---------------------------------Side Navigation Header---------------------------------*/
.sidenav-header {
  display:block;
  width: 100%;
  background-color: #1A1A2E;
}

#nav-hr {
  border: 5px solid #ed7e32 !important;
  margin: 10px 0;
  background-color: transparent;
  opacity: 1;
}

#nav-title {
  font-family: 'Rajdhani';
  font-weight: 200px;
  font-style: italic;
  font-size: 25px;
  text-align: left;
  color: white;
}

/*---------------------------------Side Navigation Buttons---------------------------------*/
.sidenav .btn.filter-item {
  font-family: 'Rajdhani';
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  width: 100%;
  color: white;
  display: block;
}

.sidenav .btn.filter-item:hover {
  font-family: 'Rajdhani';
  color: #708CBD;  
  font-weight: bold;
}

.sidenav .btn.filter-item.active {
  font-family: 'Rajdhani';
  color: blue;
  background-color: white;
}

.sidenav .btn.filter-item.active:hover {
  font-family: 'Rajdhani';
  color: blue;
  background-color: white;
}

/*---------------------------------Page Content---------------------------------*/
main {
  height: 100%;
  width: 1500px;
}

h1 {
  font-family: 'Rajdhani';
  font-size: 50px;
  font-weight: 600;
}

#title-hr {
  border: 5px solid #ed7e32 !important;
  margin: 10px 0;
  background-color: transparent;
  opacity: 1;
}

/*---------------------------------Image Gallery---------------------------------*/
.img-gallery {
  display: flex; 
  flex-direction: column;
  width: 1fr;
}

.all-pngs {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.all-pngs img {
  padding: 3px 3px 3px 3px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

