<!DOCTYPE html> 
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Molecules!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="css/page1_gallery.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="layout-wrapper">
      <!--Side Navigation-->
      <div class="sidenav">
        <div class="sidenav-header"> 
          <h3 id="nav-title">Toggle Subclass</h3>
          <hr id="nav-hr">
        </div> 
      </div>
      <!--Main Page -->
      <main>
        <div class="header-container">
<!--          <h1 class=title>Thermal Destruction Efficiencies of PFAS</h1>-->
<!--          <hr id="title-hr">-->
        </div>
        <div class="img-gallery">
          <h1 class=title>Thermal Destruction Efficiencies of PFAS</h1>
          <hr id="title-hr">
          <div class="all-pngs"></div>
        </div>
      </main> <!-- end main -->
    </div> <!-- end layout-wrapper -->
    <script type="module" src="js/page1_gallery.js"></script> 
  </body>
</html> 

