<!DOCTYPE html> 
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Molecules!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="css/page1_gallery.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="layout-wrapper">

      <!--Title-->
      <div class="header">
        <h1 class=title>T99 Calculator</h1>
        <hr id="title-hr">
      </div>

      <!--Side Navigation-->
      <div class="sidenav">
        <!-- Side Nav Header --> 
        <div class="sidenav-header"> 
          <h3 id="nav-title">Toggle Subclass</h3>
          <hr id="nav-hr">
        </div> 

        <!-- Side Nav Footer --> 
        <div class="nav-footer">
          <!-- Side-Nav Toggle Switch --> 
          <label class="switch"> 
            <input type="checkbox" id="gridSwitch" data-flag="true"> 
            <span class="slider">
              <span class="knob"></span> 
              <span class="slider-text off-text">MOL</span> 
              <span class="slider-text on-text">MECH</span> 
            </span> 
          </label> 

        </div> 
      </div>

      <!--Main Page -->
      <div class="content"> 
        <main class="mol-info">
<!--          <div class="img-gallery">-->
<!--            <div class="all-pngs"></div>-->
<!--          </div>-->
        </main> <!-- end main -->

      </div> 
      <div class="footer"></div>
    </div> <!-- end layout-wrapper -->
    <script type="module" src="js/page1_gallery.js"></script> 
  </body>
</html> 

